<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="width: 100%; text-align: center;">
    <div id="sampleInput" style="display: inline-block; padding:0 10px; margin:0 auto;">
        <form>
        <table style="border-spacing:0;">
            <tbody>
            <tr>
                <td colspan="3"><p style="margin:10px 0 10px; text-align:center; font-size:34px; color:#2a323c; font-family:'Malgun Gothic','맑은 고딕',sans-serif;">빌키 발급요청 결과</p></td>
            </tr>
            <tr>
                <td colspan="3">
                    <table style="border-collapse:collapse; width:100%">
                        <tbody>
                        <tr>
                            <th scope="row" class="tbl_th">결과 내용</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="'[' + ${res.resultCd} + ']' + ${res.resultMsg}">[<%=sResultCode%>]<%=sResultMsg%></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">빌키 발급수단</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${res.payMethod}"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">가맹점ID</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${res.mid}"><%=sMid%></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">빌링 키</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${res.bid}"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">구매자명</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${res.ordNm}">&nbsp;</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">카드 발급사 코드</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${res.appCardCd}"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">카드 발급사 명</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${res.fnNm}"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">거래일시</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${res.appDtm}"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">주문번호</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${res.ordNo}"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">전화번호</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${res.ordTel}"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
</body>
</html>