<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="width: 100%; text-align: center;">
    <div id="sampleInput" style="display: inline-block; padding:0 10px; margin:0 auto;">
        <table style="border-spacing:0;">
            <tbody>
            <tr>
                <td colspan="3"><p
                        style="margin:10px 0 10px; text-align:center; font-size:34px; color:#2a323c; font-family:'Malgun Gothic','맑은 고딕',sans-serif;">
                    취소 결과</p></td>
            </tr>
            <tr>
                <td colspan="3">
                    <table style="border-collapse:collapse; width:100%">
                        <tbody>
                        <tr>
                            <th scope="row" class="tbl_th">결과 내용</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="'[' + ${res.resultCd} + ']' + ${res.resultMsg}"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">결제수단</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${payMethod}"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">금액</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${res.amt}"><%=sAmt%></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tbl_th">거래아이디</th>
                        </tr>
                        <tr>
                            <td class="tbl_td" th:text="${res.tid}"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>